[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$font-icons: (
  ambry-farms-logo: "\e90d",
  arrow-down-bigger-reversed: "\e900",
  arrow-down: "\e901",
  arrow-right-reversed: "\e902",
  arrow-right: "\e903",
  arrow-up: "\e904",
  check: "\e905",
  cross-bigger: "\e906",
  cross: "\e907",
  elliott-logo: "\e908",
  instagram: "\e909",
  linkedin: "\e90a",
  menu: "\e90b",
  twitter: "\e90c",
);

@each $icon, $code in $font-icons {
  .icon-#{$icon}:before {
    content: $code;
  }
}
