@import 'all_utils';

.wrapper {
  label {
    display: block;
    margin-top: 24px;
    margin-bottom: 10px;
  }

  .label {
    font-size: 18px;
  }

  &:first-of-type {
    label {
      margin-top: 0;
    }
  }

  input,
  textarea,
  .select_wrapper {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid $dark;
    border-radius: 0;

    &:focus {
      border-bottom: 1px solid $primary;
    }
  }
}

.radio_wrapper {
  label {
    cursor: pointer;
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 0;
    margin-top: 0 !important;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    &:last-of-type {
      margin-left: 32px;
    }
  }

  span {
    position: relative;
    //@extend .default_font;
  }

  input ~ span {
    display: flex;
  }

  .mark {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
  }

  .mark:before {
    content: '';
    height: 16px;
    width: 16px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid $primary;
  }

  .mark:after {
    content: '';
    vertical-align: middle;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: transparent;
  }

  input:checked ~ span .mark:after {
    background: $primary;
  }
}

.select_wrapper {
  select {
    position: relative;
    display: inline-block;
    background: none;
    outline: none;
    cursor: pointer;
    border: none;
    appearance: none;
    width: calc(100% - 0.6ch - 1ch); /* compensate for arrow_down */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
    &::-ms-expand {
      display: none; /* remove default arrow on ie10 and ie11 */
    }
  }

  .arrow_down {
    margin-left: 0.5ch;
    width: 1ch;
  }
}

.error {
  color: $red;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-top: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
