$green: #00353c;
$yellow: #fffae9;
$light-green: #598373;
$dark-green: #00292f;
$light-salmon: #fbd6bc;
$dark-salmon: #eca586;
$red: #820000;
$grey: #d6d6d6;
$dark-grey: #121212;
$white: #ffffff;
$black: #000000;

$primary: $green;
$secondary: $yellow;
$error: $red;
